// **********************
//  IMPORT DEPENDENCIES
// **********************

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bungee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,200;0,300;0,600;1,300&display=swap');

// **********************

// TEST SANDBOX STYLES *******************

// UNSPLASH PHOTOS
// I DID NOT MAKE TAKE OR MAKE THESE!!
// CREDIT GOES TO ACCOUNT LINK ABOVE
// CHECK THEM OUT
// https://unsplash.com/@walkator on Unsplash
// background-image: url("../public/imgs/unsplash/walkator-code-unsplash.jpg");
// https://unsplash.com/@jdiegoph on Unsplash
// background-image: url("../public/imgs/unsplash/diego-ph-design-unsplash.jpg");
// https://unsplash.com/@wilstewart3
// background-image: url("../public/imgs/unsplash/space.jpg");

// https://unsplash.com/@carlosandres11
// background-image: url("../public/imgs/unsplash/moonFade.jpg");
// https://unsplash.com/@aperturevintage
// background-image: url("../public/imgs/unsplash/spaceSunset.jpg");
// https://unsplash.com/@n8rayfield
// background-image: url("../public/imgs/unsplash/spaceTreeRadiate.jpg");
// https://unsplash.com/@cbarbalis
// background-image: url("../public/imgs/unsplash/blurSun.jpg");

// END TEST SANDBOX STYLES *******************

// **********************
// CLASSES
// **********************
html {
    background-image: url("../public/imgs/unsplash/space.jpg");
    padding: 5px;
}
.headerTitle {
    color: #69A69A;
    color: white;
    font-family: "Exo";
    font-family: "Ubuntu";
    text-align: center;
    font-size: 50px;
    padding-left: 10px;
}
.headerNavLinks { 
    font-size: medium;
    font-family: "Ubuntu";
}
.navSectionLink {
    @extend .headerNavLinks;
    color: #69A;
    &:hover {
        color: #FF2843;
    }
}
.selectedNavLink {
    @extend .navSectionLink;
    font-weight: 600;
    color: #FF2843;
    color: #777;
}
.blurContent {
    -webkit-filter: blur(5px);
    filter: blur(5px);
    &:hover {
        -webkit-filter: blur(0px);
        filter: blur(0px);
    }
}
// *************************
// BASE EXTENSIBLE SECTION CLASSES
// ***
.centered { text-align: center; }
.paddedContainer { padding: 50px; }
.paddedContainerHeader { padding-top: 50px; }
.relativeBackButton {
    position: absolute;
    top: 0;
    right: 0;
}
// **********************
// SHARED VIEW CLASSES
.bigSectionNavigationButton { 
    padding: 50px;
    background-color: rgba(10,10,10,.9);
    font-size: 20px;
    &:hover { font-size: 25px; }
}
.sectionNavButtonCols {
    display: flex;
    flex-direction:  column;
    font-family: "Bungee"; 
    color: #FF2843;
}
.flatButton {
    font-family: "Exo";
    font-size: 20px;
    background-color: #FF2843;
    background-color: black;
    color: #777;
    border: 1px solid #777;
    color: white;
    border: 1px solid white;
    border-radius: 50px;
    padding: 15px;
    margin: 25px;
    &:hover {
        color: #FF2843;
        border: 1px solid #FF2843;
    }
}
// **********************
// CURRENTLY IN USE -- REVIEW
.generalContentCard {
    padding: 10px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #777;
    box-shadow: 10px 10px 10px black;
    color: white;
    text-align: center;
    h1 { 
        font-family: "Ubuntu";
        font-size: 50px; 
    }
    h2 {
        font-size: 30px; 
        font-weight: normal;
        font-family: "Exo";
    }
    h3 { font-weight: 500; }
    p {
        font-size: 20px;
        font-family: "Exo";
        font-weight: normal;
    }
    a {
        color: #FF2843;
        font-family: "Ubuntu";
        font-size: medium;
    }
}
.galleryEntryContentCard {
    @extend .generalContentCard;
    width: 59vh;
    .image {
        border: 1px solid #000000;
        text-align: center;
        // height: 80vh;
        margin: 20px;
    }
}
.generalViewTitleCard {
    @extend .generalContentCard;
    padding: 20px;
    background-color: rgba(0, 0, 0, .65);
    border: 1px solid #444;
    color: white;
    .level {
        background-color: rgba(0, 0, 0, .75);
    }
}
.welcomeGreeting {
    font-size: 40px;
    word-wrap: normal;
    font-family: "Ubuntu";
    color: #fff;
    margin: auto;
}
.generalContentCardTextBackground {
    background-color: rgba(0, 0, 0, .6);
    border: 1px solid #777;
    padding: 25px;
    margin: 5px;
}
.generalSplitSectionTileHoverSelection  {
    color: white;
    background-size: cover;
    background-position: center;
    border: 1px solid #777;
    box-shadow: 15px 10px 10px black;
    font-family: "Ubuntu";
    font-size: 40px;
    text-align: center;
    padding: 10vh;
    margin: 10px;
    &:hover {
        .generalContentCardTextBackground {
            border: 1px solid #FF2843;
        }
        color: #FF2843;
    }
}
.generalPortfolioCodeCard {
    @extend .generalSplitSectionTileHoverSelection;
    background-image: url("../public/imgs/unsplash/walkator-code-unsplash.jpg");
    
}
.generalPortfolioDesignCard {
    @extend .generalSplitSectionTileHoverSelection;
    background-image: url("../public/imgs/unsplash/diego-ph-design-unsplash.jpg");
}
.generalSelectionTile {
    border: 1px solid #777;
    box-shadow: 5px 5px 5px black;
    background: rgba(0, 0, 0, .65); 
    text-align: center;
    padding: 20px;
    p {
        font-family: "Exo";
        font-size: 20px;
        color: #fff;
    }
    h1 {
        font-family: "Ubuntu";
        font-size: 30px;
        color: #FF2843;
    }
    &:hover {
        border: 2px solid #FF2843;
    }
}
// **********************
// MODAL
.modalContent { 
    z-index: 40;
    width: 80%;
    overflow: auto;
}
// .modal-background {
//     width: 10vw;
//     height: 100vh;
//     background-color: rgba(0, 0, 0, .95)
// }
.modalAltContent {
    @extend .generalContentCard;
    margin: 10px;
    background-color:rgba(10, 50, 50, .5);
    align-content: center;
    .container {
        @extend .generalContentCardTextBackground;
    }
    h2 { 
        color:#FF2843;
        font-weight: 600;
    }
    p {
        font-size: 18px;
    }
}
.closeModal {
    position: fixed;
    position: absolute;
    right: 0px;
    top: 0px;
}
.modalExternalLink {
    // position: fixed;
    position: absolute;
    left: 0px;
    top: 0px;
    p { color: #FF2843; }
}
.modalControls{
    @extend .headerTitle;
    font-family: "Ubuntu";
    color: #FF2843;
    font-size: 40px;
    // text-decoration-color: #69A69A;
    // text-decoration-line: underline;
}
// **********************
// DESIGN MODAL BUTTONS
.leftButton {
    position: fixed;
    bottom: 1%;
    left: 0;
}
.rightButton {
    position: fixed;
    bottom: 1%;
    right: 0;
}
.leftButtonDesktop {
    @extend .leftButton;
    bottom: 30%;
}
.rightButtonDesktop {
    @extend .rightButton;
    bottom: 30%;
}
// *****************
// CODE GALLERY CLASSES
.gameGridContainer { .level { margin: auto; } }
.genericGameTile {
    font-size: xx-large;
    text-align: center; 
    border: 1px solid black;
    border-radius: 6px;        
    // max-width: 64px;
    // max-height: 64px;
    width: 8vh;
    height: auto;
}
.valueTile {
    @extend .genericGameTile;
    color: #444;
    border: 4px solid #444;
    background-color: #AAA;
    font-family: "Bungee";
}
.emptyTile {
    @extend .genericGameTile;
    border-width: 0px;
}
.genericLaneObject {
    @extend .genericGameTile;
    background-color: white;
}
.ballLaneObject {
    @extend .genericGameTile;
    background-color: #69A69A;
}
.movementArrowLaneObject {
    @extend .genericGameTile;
    background-color: #FF2843;
}
.blankTile {
    @extend .genericGameTile;
    border: 1px solid white;
    background-color: #050505;
}
.gameTile {
    @extend .genericGameTile;
    color: #FF2843;
    border: 1px solid white;
    font-family:  "Ubuntu";
}
.levelCompletedCard {
    background: #010E14; 
    border: 2px solid #00ff00;
    box-shadow: 15px 10px 10px black;
    text-align: center;
    font-family: "Bungee";
    font-size: 50px;
    color: #00ff00;
    margin: 20px;
    padding: 20px;
    margin: auto;
}

// **********************

// **********************

// .contentCard {
//     padding: 10px;
//     // border: 1px solid #000000;
//     // border: 1px solid white;
//     border: 1px solid #444;
//     box-shadow: 10px 10px 10px black;
//     color: #69A69A;
//     font-family: "Exo";
//     text-align: center;
//     h1 {
//         font-size: xx-large;
//         font-weight: 600;
//     }
//     h2 {
//         font-size: medium;
//         font-weight: 600;
//         font-style: italic;
//         color: #dddddd;
//     }
//     h3 { font-weight: 500; }
//     p {
//         font-size: 20px;
//         font-weight: 400;
//         color: #dddddd;
//     }
//     a {
//         color: #FF2843;
//         font-family: "Ubuntu";
//         font-size: medium;
//     }
// }
// **********************

// .hoverActionSectionCard  {
//     display: block;
//     position: static;
//     padding: 50px;
//     color: #69A69A;
//     font-family: "Exo";
//     font-style: normal;
//     text-align: center;
//     h1 {
//         font-size: xx-large;
//         font-weight: 600;
//     }
//     h2 {
//         display: none;
//         color: #FF2843;
//         font-family: "Ubuntu";
//         font-size: 30px;
//     }
//     p {
//         font-size: 20px;
//         font-weight: 200;
//     }
//     &:hover {
//         border: 2px solid #FF2843; 
//         h1 {
//             display: none;
//         }
//         h2 {
//             display: block;
//             font-family: "Ubuntu";
//             color: #FF2843;
//         }
//     }
// }
// .viewTitleCard {
//     @extend .contentCard;
//     padding: 20px;
//     background-color: rgba(0, 0, 0, .65);
//     border: 1px solid #444;
//     h1 { 
//         font-size: xx-large; 
//         font-weight: 400;
//     }
//     h2 { 
//         font-size: larger; 
//         font-weight: 200;
//     }
//     p { font-size: large; }
//     .level {
//         background-color: rgba(0, 0, 0, .75);
//     }
// }
// .contentCardTextBackground {
//     background-color: rgba(0, 0, 0, .6);
//     border: 1px solid #444;
//     padding: 25px;
//     margin: 5px;
// }
// **********************
// WELCOME PAGE CLASSES
// .welcomeSectionContainer {
    // text-align: center;
    // temp addition
    // width: 100%;
// }
// .welcomeContentCard {
//     @extend .contentCard;
//     background-color: rgba(0, 0, 0, .5);
//     border: 1px solid #444;
//     // OVERRIDE TEMP
//     border: 1px solid #fff;
//     h2 { 
//         color: #69A69A;
//         font-size: xx-large; 
//     }
// }
// .welcomeHeroImage {
//     background: #ddd;
//     border: 1px solid #000000;
//     box-shadow: 10px 10px 10px black;
//     margin: auto;
//     max-width: 50vh;
// }
// .hoverSelectionElement {
//     @extend .contentCardTextBackground;
//     @extend .hoverActionSectionCard;
//     background: rgba(0, 0, 0, .75);
//     box-shadow: none;
//     padding: 0px;
//     font-weight: 100;
//     p { color: #FF2843; }
//     &:hover {
//         p { 
//             color: #FF2843; 
//             font-weight: 600;
//         }
//     }
// }
// .welcomeNextSectionCard  {
//     @extend .hoverSelectionElement;
//     background: rgba(0, 0, 0, .6);
//     border: 1px solid #444;
//     box-shadow: 15px 10px 10px black;
//     background-size: cover;
// }
// **********************

// **********************
// ABOUT SECTION CLASSES
// .aboutSectionContainer {
//     // background-image: url("../public/imgs/Break\ Rules.png");
//     background-size: contain;
//     background-repeat: no-repeat;
//     background-position: center;
// }
// .aboutContentCard {
//     @extend .contentCard;
//     border: none;
//     box-shadow: none;
//     h2 { 
//         color: #69A69A;
//         font-size: xx-large; 
//     }
//     h3 {
//         color:#ffffff;
//         font-size: large;
//     }
// }
// **********************


// .galleryTitleCard {
//     font-size: xx-large;
//     color: #69A69A;
//     font-family: "Exo";
//     text-align: center;
//     h1 { font-weight: 600; }
// }
// DESIGN GALLERY CLASSES
// .galleryDescriptionCard {
//     font-size: larger;
//     color: #69A69A;
//     font-family: "Exo";
//     font-weight: 500;
//     text-align: center;
// }
// .galleryImage {
//     border: 1px solid #000000;
//     background-color: #ffffff;
//     text-align: center;
//     max-width: 80vh;
//     margin: 20px;
// }

// LANDING SELECTION CLASSES
// .portfolioSectionHoverSelection  {
//     @extend .hoverActionSectionCard;
//     background-size: cover;
//     background-position: center;
//     border: 1px solid #000000;
//     box-shadow: 15px 10px 10px black;
//     padding: 50px;
//     margin: 10px;
//     &:hover {
//         .contentCardTextBackground {
//             border: 1px solid #FF2843;
//         }
//     }
// }
// .portfolioCodeCard {
//     @extend .portfolioSectionHoverSelection;
//     background-image: url("../public/imgs/unsplash/walkator-code-unsplash.jpg");
    
// }
// .portfolioDesignCard {
//     @extend .portfolioSectionHoverSelection;
//     background-image: url("../public/imgs/unsplash/diego-ph-design-unsplash.jpg");
// }

// overrides the fulma background
//rgba(10, 10, 10, .86)

// .selectionTile {
//     // border: 1px solid #fff;
//     border: 1px solid #444;
//     box-shadow: 5px 5px 5px black;
//     background: rgba(0, 0, 0, .65); 
//     text-align: center;
//     padding: 20px;
//     p {
//         font-family: "Exo";
//         font-size: large;
//         color: #fff;
//     }
//     h1 {
//         color: #FF2843;
//         font-size: xx-large;
//         font-family: "Ubuntu";
//         font-weight: 400;
//     }
//     &:hover {
//         border: 2px solid #FF2843;
//     }
// }

// .gameGridControlBar {
//     margin: 5px;
//     border: 1px solid #000000;
//     box-shadow: 10px 10px 10px black;
//     background: #010E14;
//     // background-image: url("../public/imgs/icons/Bricklines.png");
//     background-size: contain;
//     background-position-x: center;
//     font-family: "Exo";
//     font-size: 20px;
//     font-size: small;
//     text-align: center;
//     h1 { font-size: 45px; }
//     p {
//         padding: 10px;
//         color: #69A69A;
//         font-style: italic;
//         font-weight: 600;
//     }
//     a {
//         color: #FF2843;
//         &:hover { font-size: 30px; }
//     }
//     .level-item { padding: 10px; }
// }